<section class="py-5">
    <h1 class="display-3">
        Thank You
    </h1>
    <p class="lead">Your order will be shipped within 2 business days</p>
    <a href="/" class="btn btn-dark">Continue Shopping</a>
</section>